@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Thank you for stopping by. Leave a simple log of how you're feeling!</p>
</div>

